{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

	<div class="mid-01">
		<div class="mid-txt">
			<strong>Get</strong>
			<span id='txt-mid'>Weather</span>
			
		</div>

	</div>

	<div class="card-new-05">
		<div class="card-new-5-txt">Enter the Location of the Circle of the cities for which you want temperature?
		</div><br>		
	</div>

	<div class="form-1">
		<form id="form1">
			<div class="form-group">
    		<label for="Latitude">Enter Latitude of Circle</label>
    		<input type="number" step="any" class="form-control" id="Latitude" aria-describedby="emailHelp" placeholder="Enter Latitude">
    		</div>
    		<div class="form-group">
    		<label for="Longitude">Enter Longitude of Circle</label>
    		<input type="number" step="any" class="form-control" id="Longitude" aria-describedby="emailHelp" placeholder="Enter Longitude">
    		</div>
    		<button type="button" class="btn btn-primary" onclick=submitform()>Get Weather !</button>
		</form>
	</div>

	<div id="time-update" style="display: none;">
		Last Updated - <span id="time"></span>
	</div>
		
	</div>
	<div class="data">
		<table id="table" class="table table-striped" style="display: none ;">
			<thead >
			    <tr>
			      <th scope="col" id="col">id</th>
			      <th scope="col" id="col">Name</th>
			      <th scope="col" id="col">Temperature(&#8451; )</th>
			      <th scope="col" id="col">Description</th>
			    </tr>
  			</thead>
  			<tbody id="tbody">
  				
  			</tbody>
			
		</table>
	</div>


   <script type="text/javascript">
   	var lat = 0;
   	var lon = 0;

   	function cleartable(){
	    $("tbody").children().remove()	  
   	}

   	function maketable(data){
	    
		var arr = data["list"];
		var table = document.getElementById("table");
		table.style.display = "block"; 
		cleartable();
		var tbody = document.getElementById("tbody");

		arr.forEach(function(item){

			var row = document.createElement("tr");
			var id = document.createElement("td");
			var inner_d = document.createTextNode(item.id);
			id.appendChild(inner_d);
			row.appendChild(id);

			id = document.createElement("td");
			inner_d = document.createTextNode(item.name);
			id.appendChild(inner_d);
			row.appendChild(id);

			
			id = document.createElement("td");
			var temp = (item.main.temp - 273.15 ).toFixed(2);;
			inner_d = document.createTextNode(temp);
			id.appendChild(inner_d);
			row.appendChild(id);

			id = document.createElement("td");
			inner_d = document.createTextNode(item.weather["0"].description);
			id.appendChild(inner_d);
			row.appendChild(id);


			tbody.appendChild(row);
			console.log(item.id);
		});	  
   	}

   	function callapi(){
   		$.ajax({
	    	type: "GET",
	        url: "https://api.openweathermap.org/data/2.5/find?lat="+lat+"&lon="+lon+"&cnt=20&appid=566d7dda59e450459dbf6300204b93b0",
	        success: function(data) {
	          maketable(data);
	        }	       
	        
	    });
   	}

   	function settime(){
   		var s = "";
   		var d = new Date();
		s = d.getHours() + ":" + d.getMinutes() +":"+d.getSeconds();
		document.getElementById("time").innerHTML = s;

   	}

   	function submitform(){
   		lat = document.forms[0].elements[0].value ;
   		lon = document.forms[0].elements[1].value ;   		
   		callapi();
   		var upd = document.getElementById("time-update");
   		upd.style.display = "block";	
   		settime();	
   		setInterval(refreshdata,30000);
   	}
  

	function refreshdata() {
		callapi();
		settime();		
	}

	</script>





{% endblock %}




